<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Wicked/IdeaProjects/Homework9/src/Vezba1.java">
        <classes>
            <class name="Vezba1"></class>
        </classes>
    </test>
</suite>